@charset "utf-8";

@import '~open-color/open-color';

//  SHANGHAI METRO
//  ───────────────────────────────────

:root {
  --sh-metro-line-1: #e6002a;
  --sh-metro-line-2: #8cc220;
  --sh-metro-line-3: #fcd600;
  --sh-metro-line-4: #461d84;
  --sh-metro-line-5: #944d9a;
  --sh-metro-line-6: #d40068;
  --sh-metro-line-7: #ed6f00;
  --sh-metro-line-8: #0095d9;
  --sh-metro-line-9: #87caed;
  --sh-metro-line-10: #c6afd4;
  --sh-metro-line-11: #871c2b;
  --sh-metro-line-12: #007a60;
  --sh-metro-line-13: #e999c0;
  --sh-metro-line-14: #9a982f;
  --sh-metro-line-15: #c8b38e;
  --sh-metro-line-16: #98d1c0;
  --sh-metro-line-17: #b6766c;
  --sh-metro-line-18: #c09453;
  --sh-metro-line-41: #898989;
  --sh-metro-line-66: #008b9a;
}

//  PANTONE COLOR OF THE YEAR
//  ───────────────────────────────────

:root {
  --pantone-2000: #98b2d1;
  --pantone-2001: #c34e7c;
  --pantone-2002: #bd3645;
  --pantone-2003: #7fc9cb;
  --pantone-2004: #e2654d;
  --pantone-2005: #5bb3b0;
  --pantone-2006: #decebb;
  --pantone-2007: #9d363f;
  --pantone-2008: #6364a5;
  --pantone-2009: #ebbf57;
  --pantone-2010: #4db6ad;
  --pantone-2011: #d85a7b;
  --pantone-2012: #e34f33;
  --pantone-2013: #00997b;
  --pantone-2014: #b067a1;
  --pantone-2015: #975a58;
  --pantone-2016-1: #95aad3;
  --pantone-2016-2: #f8cdcd;
  --pantone-2017: #92b558;
  --pantone-2018: #6b5b95;
  --pantone-2019: #fc766a;
  --pantone-2020: #34558b;
  --pantone-2021-1: #f3e04e;
  --pantone-2021-2: #96999c;
  --pantone-2022: #696aad;
}
