@charset "utf-8";
@import '~normalize.css/normalize.css';

@tailwind components;
@tailwind utilities;

@import 'colors';
@import 'map';

html {
    overflow: hidden;
}

body {
    background-color: #fcf9f2;
    font-family: Tahoma, Arial, 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', SimSun, sans-serif;
}

* {
    box-sizing: border-box;
}

:root:root {
    --adm-color-primary: var(--pantone-2022);
}

#root {
    @apply absolute;
    @apply top-0;
    @apply left-0;
    @apply w-screen;
    @apply h-screen;
    @apply pointer-events-none;
}
